#bg {
    background-image: url(p1.jpg);
    background-size:cover;
    height: 100vb;
    margin: -20px;
    padding: 0px;
}

#overlay:{
    background-color: black;
    z-index: 10;
    height: 100vb;
}
